@charset "utf-8";

/* font */
@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

table {
    border-collapse: collapse;
}

/* blog 큰사이즈 시작 */
/* blog 서브 타이틀 제목 */

body{
    background-image: url(../img/index/middle_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10% 70%;
}

::selection{
    background: rgba(241, 139, 30, 0.4);
}

::-moz-selection{
    background: rgba(241, 139, 30, 0.4);
}

#blog{
    width: 100%;
    height: 300px;
    background: linear-gradient(140deg, rgba(198, 125, 132, 0.3), rgba(126, 129, 190, 0.3), rgba(85, 159, 211, 0.3), rgba(122, 193, 66, 0.3), rgba(254, 195, 37, 0.3), rgba(246, 138, 49, 0.3), rgba(240, 99, 118, 0.3));
    position: relative;
    margin-bottom: 70px;
}

#blog h1{
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'LeferiPoint-SpecialItalicA';
}

.gradtext {
    background: linear-gradient(to right,#c67d84, #7E81BE, #559FD3, #7AC142, #FEC325, #F68932, #F06477);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
}

#blogContent{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    margin-bottom: 150px;
}

#postContent{
    width: 70%;
    height: 100%;
}

#content{
    width: 95%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    padding-bottom: 50px;
    border: 2px solid lightgray;
    border-radius: 10px;
}

#contentImg{
    width: 95%;
    margin: 15px auto 0;
    height: 500px;
}

#contentImg img{
    width: 100%;
    height: 100%;
}

#contentText{
    width: 95%;
    margin: 0 auto;
    font-family: 'GowunDodum-Regular';
    padding-top: 30px;
}

#contentText span a{
    color: #f18b1e;
    font-weight: bold;
    font-family: 'EarlyFontDiary';
    letter-spacing: 2px;
}

#contentText h2{
    font-weight: bold;
    font-size: 32px;
}

.synopsis{
    border-left: 5px solid #f18b1e;
    padding: 15px 0 15px 15px;
    background-color: rgba(241, 139, 30, 0.1);
    border-radius: 0 40px 0 0;
}

#writerBox{
    width: 100%;
    height: 180px;
    border: 1px solid #f18b1e;
    margin-top: 150px;
    display: flex;
    border-radius: 5px 40px 5px 40px;
}

#writerBox:hover{
    box-shadow: 2px 2px 10px 10px rgba(161, 161, 161, 0.1);
    border: 3px solid transparent;
    border-radius: 5px 40px 5px 40px;
    background-image: linear-gradient(transparent),
    linear-gradient(to right, #c67d84, #7E81BE, #559FD3, #7AC142, #FEC325, #F68932, #F06477);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#writerImage{
    width: 25%;
    height: 100%;
    position: relative;
    background-color: rgba(255, 227, 184, 0.5);
    border-radius: 5px 0 0 40px;
}

.writeCardImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4.5px double #f18b1e;
}

.writeCardImage a, .writeCardImage a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#writerText{
    width: 75%;
    height: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 0 40px 5px 0 ;
}

#writerText>span:nth-child(1){
    font-size: 20px;
    width: 55px;
    text-align: center;
    display: inline-block;
    border-bottom: 3px solid #f18b1e;
}

.fa{
    font-size: 15px;
    color: rgb(189, 184, 184);
}

.fa-heart{
    color: red;
}

.favicon{
    font-family: 'GowunDodum-Regular';
    font-weight: 500;
    color: rgb(189, 184, 184);
}

#buttonBox{
    width: 100%;
    height:80px;
    margin-top: 50px;
    position: relative;
}

.prev{
    float: left;
    width: 180px;
    height: 50px;
    font-family: 'GowunDodum-Regular';
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    position: relative;
    display: block;
    perspective: 10000px;
    color: #fff;
}

a.prev::before, a.prev::after{
    content: attr(title);
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;
    font-size: 18px;
}

a.prev::before{
    background: linear-gradient(to right top, #FEC325,#f18b1e, #F06477);
}

a.prev::after{
    border: 3px solid #f18b1e;
    color: #333;
    transform: rotateX(90deg) translateZ(50px);
    transform-origin: 50% 100%;
}

a.prev:hover::before{
    transform: rotateX(-90deg) translateZ(50px);
    transform-origin: 50% 00%;
}

a.prev:hover::after{
    transform: rotateX(0deg) translateZ(0px);
    box-shadow: 1px 1px 15px 10px rgba(161, 161, 161, 0.1);
}

.next{
    float: right;
    width: 180px;
    height: 50px;
    font-family: 'GowunDodum-Regular';
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    line-height: 50px;
    position: relative;
    display: block;
    perspective: 10000px;
    color: #fff;
}

a.next::before, a.next::after{
    content: attr(title);
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;
    font-size: 18px;
}

a.next::before{
    background: linear-gradient(to left bottom,#FEC325,#f18b1e, #F06477);
}

a.next::after{
    border: 3px solid #f18b1e;
    color: #333;
    transform: rotateX(90deg) translateZ(50px);
    transform-origin: 50% 100%;
}

a.next:hover::before{
    transform: rotateX(-90deg) translateZ(50px);
    transform-origin: 50% 00%;
}

a.next:hover::after{
    transform: rotateX(0deg) translateZ(0px);
    box-shadow: 1px 1px 15px 10px rgba(161, 161, 161, 0.1);
}

#comment{
    width: 95%;
    height: auto;
    margin: 20px auto 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
}

#commentTitle{
    width: 100%;
    height: 80px;
    border: 1px solid red;
    padding: 10px;
}

#commentTitle h1{
    font-weight: bold;
    font-size: 35px;
}

.comment_fa{
    padding-left: 10px;
    font-size: 18px;
    color: #f18b1e;
}

.comment_fa span{
    font-size: 18px;
    color: #f18b1e;
    font-weight: bold;
}

.commentContent{
    width: 100%;
    height: 150px;
    border: 2px solid yellowgreen;
    margin: 5px 0 5px 0;
    display: flex;
    background-color: rgba(212, 209, 209, 0.1);
}

.commentImg{
    width: 20%;
    height: 100%;
    border: 1px solid red;
    position: relative;
    background-color: white;
}

.commentImgCard{
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid #f18b1e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.commentImgCard img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.commentText{
    width: 80%;
    height: 100%;
    border: 1px solid blue;
    padding: 30px 10px 10px 30px
}

.bottomComment{
    margin-bottom: 50px;
}

#commentPost{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-left: 20px;
}

#commentPost h1{
    font-size: 35px;
    font-weight: bold;
}

#commentPost form{
    margin: 30px auto 0;
    padding: 10px 0 10px 0;
    width: 90%;
    height: auto;
    display: flex;
    vertical-align: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 227, 184, 0.5);
    border-radius: 10px;
    flex-wrap: wrap;
}

#commentPost form input{
    padding: 10px;
    width: 310px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin: 20px auto 20px;
}

#commentPost form textarea{
    width: 95%;
    height: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
    margin: 0 auto;
}

.commentButtonBox{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: red;
}

.commentSubject{
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
}

#postNavigation{
    width: 30%;
    height: auto;
}

#postSearch{
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#blogSearch{
    padding: 5px;
    display: block;
    margin: 15px auto 0;
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
}

#popularPost{
    width: 100%;
    height: 330px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#popularImg{
    width: 90%;
    margin: 10px auto 0;
    height: 180px;
    border: 2px solid rgba(255, 227, 184, 0.5);
    border-radius: 10px;
}

#popularImg:hover{
    box-shadow: 1px 1px 15px 10px rgba(138, 137, 137, 0.1);
    border: 4px solid white;
}

#popularImg a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#popularContent{
    width: 90%;
    margin: 5px auto 0;
    height: 80px;
    padding: 0 5px 0 5px;
}

#popularContent h2{
    font-weight: bold;
    font-size: 14px;
}

#popularContent span a{
    color: #f18b1e;
    font-weight: bold;
    font-family: 'EarlyFontDiary';
    letter-spacing: 2px;
    font-size: 13px;
}

#popularContent .fa{
    font-size: 13px;
}

#popularPosts{
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.subPosts{
    width: 90%;
    height: 28%;
    margin: 10px auto 0;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 227, 184, 0.5);
}

.subPosts:hover{
    box-shadow: 1px 1px 15px 10px rgba(161, 161, 161, 0.1);
    border: 3px solid rgba(255, 227, 184, 0.5);
    background-color: white;
}

.subPosts a h2{
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
}

.subPosts span a{
    color: #f18b1e;
    font-weight: bold;
    font-family: 'EarlyFontDiary';
    letter-spacing: 2px;
    font-size: 13px;
    padding: 1px 0 0 10px;
}

.subPosts .fa{
    font-size: 13px;
    padding: 8px 0 0 13px;
}

#newsLetter{
    width: 100%;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

#newsLetter input::placeholder{
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    color: #bbb;
}

.buttonBox{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.color-bg-start{
    background-color: #f18b1e;
}

.bg-animate-color{
    animation: random-bg .5s linear infinite;
}

@keyframes random-bg {
    from{
        filter: hue-rotate(0);
    }
    to{
        filter: hue-rotate(360deg);
    }
}

.fun-btn{
    background: linear-gradient(to left bottom,#FEC325,#f18b1e, #F06477);
    color: white;
    padding: 1em 3em;
    border: none;
    transition: all .3s ease;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
    align-self: center;
    cursor: pointer;
    font-weight: bold;
}

.fun-btn:hover{
    animation: random-bg .5s linear infinite, grow 1300ms ease infinite;
}

.start-fun{
    background-color: #fff !important;
    color: #f18b1e !important;
}

@keyframes grow{
    0%{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
}

#subcribeEmail{
    display: block;
    margin: 10px auto;
    width: 90%;
    height: 40px;
    border: 1px solid lightgray;
}

#category{
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.subCategory{
    width: 90%;
    margin: 10px auto 0;
    height: 40px;
    position: relative;
    background: linear-gradient(to left bottom,#FEC325,#f18b1e, #F06477);
    line-height: 40px;
    transition: 0.5s all;
    overflow: hidden;
}

.subCategory:hover{
    transform: scale(1.1);
}

.subCategory::after{
    content: '';
    position: absolute;
    top: calc(50% - 50px);
    left: -50px;
    width: 20px;
    height: 100px;
    background-color: white;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
}

.subCategory:hover::after{
    left: calc(100% + 50px);
    opacity: 1;
}

.subCategory h3{
    font-weight: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#tag{
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

#tagBox{
    width: 90%;
    height: 180px;
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px 0 0 10px;
}

.buttonTag{
    width: 70px;
    height: 30px;
    margin: 0 5px 0 5px;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    counter-reset: #333;
    background-color: rgba(255, 227, 184, 0.5);
    border: none;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.buttonTag:hover{
    background: linear-gradient(to left bottom,#FEC325,#f18b1e, #F06477);
    box-shadow: 0px 15px 20px rgba(241, 139, 30, 0.3);
    color: #fff;
    transform: translateY(-4px);
}

#map{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 10px;
}

#mapBox{
    width: 90%;
    height: 85%;
    margin: 10px auto 0;
    border: 2px solid rgba(255, 227, 184, 0.5);
    border-radius: 10px;
}