@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

/* use font */
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KOTRA_SONGEULSSI';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_SONGEULSSI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UhBeeSeulvely';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WooridaumB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'WooridaumL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/WooridaumL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

table {
    border-collapse: collapse;
}


@media screen and (max-width:767px) {

    /* Main start */
    /* headerSlider */
    #wrap1headerSlide {
        width: 100%;
        height: 450px;
        position: relative;
    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;
    }

    #slideHeader1 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #slideHeader1 a {
        width: 100%;
        height: 100%;
    }

    .slideImg {
        width: 100%;
        height: 100%;
        float: left;
    }

    .slideImg a img {
        width: 100%;
        height: 100%;
    }

    /* slide Text */
    .slideText {
        background-color: white;
        position: absolute;
        height: auto;
        width: 90%;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 50;
        padding-top: 5%;
    }

    .boxSlideText {
        width: 100%;
        height: 80%;
    }

    .boxSlideText hr {
        width: 90%;
        margin: -10px auto 0;
    }

    .fa-calendar {
        padding: 5%;
        color: #999;
        font-size: 11px;
    }

    .fa-comments {
        color: #999;
        font-size: 11px;
    }

    .boxSlideText a {
        font-size: 13px;
        color: #333;
        font-weight: bold;
        margin-left: 20%;
        font-family: 'WooridaumL';
    }

    .s1TextBox h1 {
        font-size: 60px;
        height: auto;
        font-weight: bold;
        text-align: center;
        background-image: url(../img/index/blue.jpg);
        background-size: cover;
        background-position: bottom right;
        background-attachment: fixed;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
        -webkit-background-clip: text;
        font-family: '국립박물관문화재단클래식B';
    }

    .s2TextBox h1 {
        font-size: 60px;
        height: auto;
        font-weight: bold;
        text-align: center;
        background-image: url(../img/index/green.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
        -webkit-background-clip: text;
        font-family: '국립박물관문화재단클래식B';

    }

    .s3TextBox h1 {
        font-size: 60px;
        height: auto;
        font-weight: bold;
        text-align: center;
        background-image: url(../img/index/conceert_reverse.jpg);
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
        -webkit-background-clip: text;
        font-family: '국립박물관문화재단클래식B';
    }

    .s4TextBox h1 {
        font-size: 60px;
        height: auto;
        font-weight: bold;
        text-align: center;
        background-image: url(../img/index/swing.jpg);
        background-size: cover;
        background-position: 50%;
        background-attachment: fixed;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
        -webkit-background-clip: text;
        font-family: '국립박물관문화재단클래식B';
    }

    /* Performance Information */
    #wrap2PerformanceInformation {
        width: 100%;
        height: 900px;
        padding: 100px 0 118px 0;
    }

    #informationTitle {
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    #informationTitle h1 {
        font-size: 28px;
        font-weight: bolder;
        color: #333;
        font-family: '국립박물관문화재단클래식B';
        padding-left: 15px;
    }

    #informationTitle h1 span {
        color: #f18b1e;
    }

    #infomationPoster {
        width: 100%;
        height: 605px;
        position: relative;
        padding-right: 0;
    }

    #infomationPoster::after {
        content: "";
        position: absolute;
        top: 70px;
        right: 15%;
        bottom: 30px;
        left: 0;
        background-color: #fdf5eb;
        z-index: -1;
    }

    #posterVisible {
        width: 320px;
        height: 500px;
        overflow: hidden;
        margin: 0 auto;
    }

    #posterHidden {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .hiddenSwiper {
        width: 100%;
    }

    .poster {
        /* width: 380px !important; */
        height: 500px !important;
        width: 320px !important;
        cursor: -webkit-grab;
        position: relative;
    }

    .poster_1 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_2 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_3 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_4 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_5 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_5.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_6 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_6.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_7 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_7.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_8 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_8.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_9 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_9.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .poster_10 {
        width: 100%;
        height: 100%;
        background-image: url("../img/index/information_10.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Poster overlay */
    .posterOverlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 0 20px 5px;
        position: absolute;
    }

    .posterOverlay h3 {
        color: white;
        font-weight: bold;
        font-size: 22px;
        font-family: 'EliceDigitalBaeum-Bd';
        margin-left: 15px;
    }

    .pofa-color {
        color: white;
        font-weight: bold;
        font-size: 7px;
    }

    .poster_text a {
        color: #f18b1e;
        font-weight: bold;
        font-size: 7px;
        padding-left: 2%;
        font-family: 'WooridaumL';
    }

    .posterOverlay hr {
        width: 95%;
        margin: 0 auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: rgba(255, 255, 255, 0.3);
        width: 60px;
        height: 60px;
        border-radius: 20%;
        color: #f18b1e;
        display: none;
    }

    /* performance post */
    #wrap3PerformancePost {
        width: 100%;
        height: 400vh;
        padding: 10px 0;
        position: relative;
    }

    #postBox::after {
        content: "";
        position: absolute;
        top: 450px;
        right: 0;
        bottom: 40px;
        left: 25%;
        background-color: #fdf5eb;
        z-index: -1;
    }

    #performancePost {
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    #postTitle {
        width: 100%;
        height: 120px;
    }

    #postTitle h1 {
        font-size: 32px;
        font-weight: bolder;
        color: #333;
        font-family: '국립박물관문화재단클래식B';
        padding-left: 15px;
    }

    #postTitle h1 span {
        color: #f18b1e;
    }

    #postBox {
        width: 100%;
        height: 370vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .posts {
        width: 90%;
        height: 185vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }

    .postBigBox {
        width: 100%;
        height: 21%;
        overflow: hidden;
        position: relative;
    }

    .smallBox {
        width: 100%;
        height: 78%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .postSmallBox {
        width: 100%;
        height: 48%;
        overflow: hidden;
        position: relative;
    }

    .postBigBox a img {
        width: 100%;
        height: 100%;
    }

    .postSmallBox img {
        width: 100%;
        height: 100%;
    }

    .postBigBox:hover .postImg,
    .postSmallBox:hover .postImg {
        transform: rotate(-7deg) scale(1.2);
        transition: all 0.3s ease-in-out;
    }

    .postImg {
        transition: all 0.3s ease-in-out;
    }

    .overlayPost {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
    }

    .overlayPost h3 {
        color: #fff;
        font-size: 25px;
        padding-left: 15px;
        font-family: 'EliceDigitalBaeum-Bd';
        font-weight: bold;
    }

    .postText span {
        font-size: 12px;
        padding-left: 14px;
    }

    .postText a {
        color: #f18b1e;
        font-size: 12px;
        font-weight: bold;
        padding-left: 1%;
        font-family: 'WooridaumB';
    }

    .overlayPost hr {
        width: 95%;
        margin: 0 auto;
    }

    #morePost {
        width: 100%;
        margin: 20px auto 0;
    }

    .viewPost {
        margin-left: 30%;
        width: 200px;
        border-bottom: 1px solid #f18b1e;
        padding: 2%;
        text-align: right;
    }

    .viewPost a {
        color: #333;
        font-weight: bold;
        font-size: 15px;
        margin-right: 10px;
        font-family: 'WooridaumB';
    }

    /* Performance section Photo Start */
    #wrap4PerformancePhoto {
        width: 100%;
        height: 720vw;
        padding: 60px 0;
        background-image: url('../img/index/middle_logo.png');
        background-repeat: no-repeat;
        background-position: 60% -10%;
    }

    #photoTitle {
        width: 100%;
        height: 240px;
        margin: 0 auto;
    }

    #photoTitle h1 {
        font-size: 30px;
        font-weight: bolder;
        color: #333;
        font-family: '국립박물관문화재단클래식B';
        padding-left: 15px;
    }

    #photoTitle h1 span {
        color: #f18b1e;
    }

    #photoTitle h3 {
        font-size: 18px;
        padding-left: 20px;
        padding-top: 15px;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    #photoTitle h3 span {
        color: #f18b1e;
    }

    #photoTitle h4 {
        font-size: 15px;
        padding-top: 5px;
        padding-left: 30px;
        font-family: 'GangwonEdu_OTFBoldA';
    }

    #photoImage {
        width: 100%;
        height: 66vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .photoBox {
        flex: 0 0 100%;
        width: 50%;
    }

    .performancePhoto {
        width: 100%;
        height: auto;
    }

    .performancePhoto a img {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        padding-bottom: 20px;
    }

    .photo1 {
        display: flex;
        align-items: center;
    }

    .photo2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
    }

    .photo3 {
        display: flex;
        flex-direction: column;
    }

    .photo4 {
        display: flex;
        flex-direction: column;
    }

    /* 안산문화예술의전당 사업소개 */
    #wrap5ProjectIntroduction {
        width: 100%;
        height: 1150px;
        padding-top: 50px;
        padding-bottom: 120px;
    }

    #projectTitle {
        width: 100%;
        height: 100px;
        margin: 0 auto;
    }

    #projectTitle h1 {
        font-size: 30px;
        font-weight: bolder;
        color: #333;
        font-family: '국립박물관문화재단클래식B';
        padding-left: 15px;
    }

    #projectTitle h1 span {
        color: #f18b1e;
    }

    #projectCard {
        width: 80%;
        height: 450px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }

    .card {
        width: 100%;
        height: 28%;
        border: 2px solid #f18b1e;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 10px 0;
    }

    .cardIcon {
        width: 20%;
        height: 52%;
        /* background-color: #fff; */
        margin-left: 2.5%;
        border-radius: 50%;
        border: 3px double #fdf5eb;
        position: relative;
        background-color: #f18b1e;
    }

    .cardIcon img {
        width: 60%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .cardText {
        width: 75%;
        height: 100%;
        background-color: #fdf5eb;
        padding: 5px 10px;
        font-family: 'NanumBarunpen';
    }

    .cardText h3 {
        height: 28%;
        font-size: 20px;
    }

    .cardText h4 {
        height: 50%;
        font-size: 15px;
        font-weight: 500;
    }

    .cardText p {
        font-size: 13px;
        font-weight: bold;
    }

    .cardText i {
        font-size: 13px;
        font-weight: bold;
    }

    .cardText:hover h3 {
        color: #f18b1e;
    }

    .card:hover {
        border: 3px solid;
        border-image-source: linear-gradient(45deg, #c67d84, #7E81BE, #559FD3, #7AC142, #FEC325, #F68932, #F06477);
        border-image-slice: 1;
    }

}